{% extends "dashboards/partials/_page.html" %}
{% load i18n %}

{% block title %}{{ scope_object }}{% endblock %}

{% block heading %}
  <h1 class="page-title">
    {{ scope_object }}
    {% if params.mode == "day" %}&middot; {{ params.day }}{% endif %}
  </h1>
{% endblock %}

{% block dashboard_content %}
  {% include "dashboards/partials/dashboard_content.html" %}
  {% include "dashboards/partials/person_recommendations.html" %}
  {% include "dashboards/partials/person_comparison.html" %}
  {% include "dashboards/partials/person_violations.html" %}
  {% include "dashboards/partials/person_notes.html" %}
{% endblock %}
